*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}
header{
    background-color:whitesmoke;
    height: 60px;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* logo of website */
div h1{
    font-size: 35px;
    color: blue;
    line-height: 60px;
}
/* ------------------- */

/* search bar */
.search{
    display: flex;
    align-items: center;
    
}
.search input {
    height: 30px;
    width: 300px;
}
/* ------------- */
 
/* nav bar */
.nav-bar ul {
    display:flex;
    line-height: 60px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    margin: 10px 16px;
    color: blue;
    font-size: 16px;
}
nav ul li a:hover{
    border-bottom: 3px solid black;
}
/* ---------- */

.banner-photo-about{
    padding: 10px 30px;
}

.banner-image-text{
    min-height:550px;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center ;
    margin: 30px 0px;
}
.banner-photo img {
    object-fit:contain;
    padding:10px 30px;
}
.banner-image-text .banner-photo-about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 0px;

}
.banner-image-text .banner-photo-about h2{
    font-size: 150%;
    max-width: 400px;
}
.banner-image-text .banner-photo-about button{
    background-color: rgb(224, 60, 60);
    border: none;
    outline: red;
    width: 80px;
    height: 40px;
    padding: 8px;
    color: white;
    margin: 10px 0px;
}
.banner-image-text .banner-photo-about button:hover{
    background-color: aqua;
    color: black;
}


#mobile-section{
    min-height:630px;
   
}
.title h5 {
    background-color: whitesmoke;
    border: 1px solid black;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
}
.phone .img img {
    object-fit: contain;
}
.phone p{
    text-align: center;
    padding: 10px 0px;
    background-color: black;
    color: white ;
    font-size: 90%;
}
.phone  div{
    border: 1px solid black;
    
}
.phone{
    
    margin: 20px 0px;
    display:grid;
    grid-template-columns:repeat(5, 16%);
    grid-gap:20px 20px;
    justify-content: center;

}
footer {
    height: 40px;
    background-color:whitesmoke;
    border-top: 1px solid black;
}
footer p {
    line-height: 40px;
    text-align: center;
}
@media (max-width:700px){

    
header{
    background-color:whitesmoke;
    height: 150px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.nav-bar ul {
    display:flex;
    line-height: 0px;
    list-style: none;
    padding: 20px ;
}

    .phone{grid-template-columns:repeat(2, 40%);
    grid-gap:20px 20px;}
}

@media (max-width:410px){

    
.search input {
    height: 30px;
    width: 250px;
}
/* ------------- */

nav ul li a {
    text-decoration: none;
    margin: 10px 16px;
    color: blue;
    font-size: 10px;
}

    .phone{grid-template-columns:repeat(1, 60%);}
}